#root {
    height: 100%;
}
.App {

    height: 100%;
    width: 55em;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 1em;

    .header {
        height: 4em;
        line-height: 4;
        span {
            margin-right: 3em;
        }
    }
}
